USE [master]
GO
/****** Object:  Database [QuanLyCuaHangGiay]    Script Date: 3/9/2026 8:30:26 AM ******/
CREATE DATABASE [QuanLyCuaHangGiay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCuaHangGiay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyCuaHangGiay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCuaHangGiay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyCuaHangGiay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCuaHangGiay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCuaHangGiay]
GO
/****** Object:  Table [dbo].[CHI_TIET_HOA_DON]    Script Date: 3/9/2026 8:30:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOA_DON](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_NHAP]    Script Date: 3/9/2026 8:30:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_NHAP](
	[MaPN] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NULL,
	[GiaNhap] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOI_TRA]    Script Date: 3/9/2026 8:30:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOI_TRA](
	[MaDT] [nvarchar](50) NOT NULL,
	[MaHD] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
	[NgayDoiTra] [datetime] NULL,
	[SoLuong] [int] NULL,
	[TongTienHoan] [decimal](18, 2) NULL,
	[LyDo] [nvarchar](255) NULL,
	[TinhTrang] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 3/9/2026 8:30:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NOT NULL,
	[MaKH] [nvarchar](50) NULL,
	[MaVoucher] [nvarchar](50) NULL,
	[NgayLap] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 3/9/2026 8:30:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [nvarchar](50) NOT NULL,
	[TenKH] [nvarchar](255) NOT NULL,
	[SDT] [nvarchar](15) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DiemTichLuy] [int] NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 3/9/2026 8:30:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MaNCC] [nvarchar](50) NOT NULL,
	[TenNCC] [nvarchar](255) NOT NULL,
	[SDT] [nvarchar](15) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 3/9/2026 8:30:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MaNV] [nvarchar](50) NOT NULL,
	[Ho] [nvarchar](100) NULL,
	[Ten] [nvarchar](50) NULL,
	[MaQuyen] [nvarchar](50) NOT NULL,
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
	[Luong] [decimal](18, 2) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_BAO_HANH]    Script Date: 3/9/2026 8:30:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_BAO_HANH](
	[MaPBH] [nvarchar](50) NOT NULL,
	[MaHD] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
	[MaKH] [nvarchar](50) NOT NULL,
	[NgayNhan] [datetime] NULL,
	[NgayTraDuKien] [datetime] NULL,
	[LoiCanBaoHanh] [nvarchar](max) NULL,
	[ChiPhiPhatSinh] [decimal](18, 2) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 3/9/2026 8:30:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP](
	[MaPN] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NOT NULL,
	[MaNCC] [nvarchar](50) NOT NULL,
	[NgayNhap] [datetime] NULL,
	[TongSoMatHang] [int] NULL,
	[TongTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 3/9/2026 8:30:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[MaQuyen] [nvarchar](50) NOT NULL,
	[TenQuyen] [nvarchar](100) NOT NULL,
	[QL_BanHang] [int] NULL,
	[QL_KhachHang] [int] NULL,
	[QL_SanPham] [int] NULL,
	[QL_NhapHang] [int] NULL,
	[QL_NhanVien] [int] NULL,
	[QL_ThongKe] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 3/9/2026 8:30:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MaSP] [nvarchar](50) NOT NULL,
	[TenSP] [nvarchar](255) NOT NULL,
	[LoaiSP] [nvarchar](100) NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
	[MauSac] [nvarchar](50) NULL,
	[Size] [nvarchar](10) NULL,
	[ChatLieu] [nvarchar](100) NULL,
	[ThuongHieu] [nvarchar](100) NULL,
	[NuocSanXuat] [nvarchar](100) NULL,
	[NgaySanXuat] [datetime] NULL,
	[MoTa] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOUCHER]    Script Date: 3/9/2026 8:30:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOUCHER](
	[MaVoucher] [nvarchar](50) NOT NULL,
	[TenVoucher] [nvarchar](255) NULL,
	[PhanTramGiam] [int] NULL,
	[SoTienGiam] [decimal](18, 2) NULL,
	[GiamToiDa] [decimal](18, 2) NULL,
	[DieuKienApDung] [decimal](18, 2) NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[SoLuong] [int] NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [SDT], [DiaChi], [DiemTichLuy], [TrangThai]) VALUES (N'KH00008', N'vsvbbrev', N'0123456789', N'HCSBhcjs', 0, 1)
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [SDT], [DiaChi], [DiemTichLuy], [TrangThai]) VALUES (N'KH001', N'Nguyễn Văn Thành', N'0901234567', N'12 Lê Lợi, Quận 1, TP.HCM', 150, 1)
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [SDT], [DiaChi], [DiemTichLuy], [TrangThai]) VALUES (N'KH002', N'Trần Thị Ngọc', N'0912345678', N'45 Nguyễn Trãi, Quận 5, TP.HCM', 0, 1)
GO
INSERT [dbo].[NHA_CUNG_CAP] ([MaNCC], [TenNCC], [SDT], [DiaChi], [TrangThai]) VALUES (N'NCC001', N'Công ty Giày Da Sài Gòn', N'0901234567', N'Quận 1, TP.HCM', 1)
INSERT [dbo].[NHA_CUNG_CAP] ([MaNCC], [TenNCC], [SDT], [DiaChi], [TrangThai]) VALUES (N'NCC002', N'Nhà phân phối Giày Thể Thao VN', N'0912345678', N'Quận 7, TP.HCM', 0)
GO
INSERT [dbo].[NHAN_VIEN] ([MaNV], [Ho], [Ten], [MaQuyen], [TaiKhoan], [MatKhau], [Luong], [TrangThai]) VALUES (N'NV001', N'Admin', N'System', N'Q01', N'admin', N'123456', CAST(20000000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[NHAN_VIEN] ([MaNV], [Ho], [Ten], [MaQuyen], [TaiKhoan], [MatKhau], [Luong], [TrangThai]) VALUES (N'NV002', N'Nguyễn', N'An', N'Q01', N'an.nguyen', N'123456', CAST(10000000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[NHAN_VIEN] ([MaNV], [Ho], [Ten], [MaQuyen], [TaiKhoan], [MatKhau], [Luong], [TrangThai]) VALUES (N'NV003', N'Trần', N'Bình', N'Q02', N'binh.tran', N'123456', CAST(10000000.00 AS Decimal(18, 2)), 1)
GO
INSERT [dbo].[QUYEN] ([MaQuyen], [TenQuyen], [QL_BanHang], [QL_KhachHang], [QL_SanPham], [QL_NhapHang], [QL_NhanVien], [QL_ThongKe]) VALUES (N'Q01', N'Quản trị viên', 1, 1, 1, 1, 1, 1)
INSERT [dbo].[QUYEN] ([MaQuyen], [TenQuyen], [QL_BanHang], [QL_KhachHang], [QL_SanPham], [QL_NhapHang], [QL_NhanVien], [QL_ThongKe]) VALUES (N'Q02', N'Quản lý', 1, 1, 1, 1, 0, 1)
INSERT [dbo].[QUYEN] ([MaQuyen], [TenQuyen], [QL_BanHang], [QL_KhachHang], [QL_SanPham], [QL_NhapHang], [QL_NhanVien], [QL_ThongKe]) VALUES (N'Q03', N'Nhân viên', 1, 1, 1, 0, 0, 0)
GO
INSERT [dbo].[SAN_PHAM] ([MaSP], [TenSP], [LoaiSP], [DonViTinh], [SoLuong], [DonGia], [MauSac], [Size], [ChatLieu], [ThuongHieu], [NuocSanXuat], [NgaySanXuat], [MoTa], [HinhAnh], [TrangThai]) VALUES (N'SP0001', N'Giày', N'Giày Chạy Bộ', N'Đôi', 1000, CAST(100000000.00 AS Decimal(18, 2)), N'Trắng', N'XXXL', N'Vải', N'Adidas', N'Mỹ', CAST(N'2025-03-06T00:00:00.000' AS DateTime), N'', N'', 0)
INSERT [dbo].[SAN_PHAM] ([MaSP], [TenSP], [LoaiSP], [DonViTinh], [SoLuong], [DonGia], [MauSac], [Size], [ChatLieu], [ThuongHieu], [NuocSanXuat], [NgaySanXuat], [MoTa], [HinhAnh], [TrangThai]) VALUES (N'SP001', N'Giày Sneaker Nike Air', N'Giày Sneaker', N'Đôi', 0, CAST(1500000.00 AS Decimal(18, 2)), N'Trắng', N'42', N'Vải Mesh', N'Nike', N'Mỹ', CAST(N'2026-03-06T00:00:00.000' AS DateTime), N'Giày chạy bộ êm ái', N'sp1.png', 1)
INSERT [dbo].[SAN_PHAM] ([MaSP], [TenSP], [LoaiSP], [DonViTinh], [SoLuong], [DonGia], [MauSac], [Size], [ChatLieu], [ThuongHieu], [NuocSanXuat], [NgaySanXuat], [MoTa], [HinhAnh], [TrangThai]) VALUES (N'SP002', N'Giày Tây Oxford Nam', N'Sneaker', N'Đôi', 0, CAST(850000.00 AS Decimal(18, 2)), N'Đen', N'40', N'Da bò thật', N'Oxford', N'Việt Nam', CAST(N'2025-02-15T00:00:00.000' AS DateTime), N'Giày da nam lịch lãm', N'', 1)
GO
INSERT [dbo].[VOUCHER] ([MaVoucher], [TenVoucher], [PhanTramGiam], [SoTienGiam], [GiamToiDa], [DieuKienApDung], [NgayBatDau], [NgayKetThuc], [SoLuong], [TrangThai]) VALUES (N'BLACKFRIDAY', N'Siêu sale Black Friday', 30, NULL, CAST(300000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), CAST(N'2025-11-20T00:00:00.000' AS DateTime), CAST(N'2025-11-30T00:00:00.000' AS DateTime), 0, 0)
INSERT [dbo].[VOUCHER] ([MaVoucher], [TenVoucher], [PhanTramGiam], [SoTienGiam], [GiamToiDa], [DieuKienApDung], [NgayBatDau], [NgayKetThuc], [SoLuong], [TrangThai]) VALUES (N'FLASHSALE', N'Sale chớp nhoáng nửa giá', 50, NULL, CAST(150000.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), CAST(N'2026-03-07T00:00:00.000' AS DateTime), CAST(N'2026-03-08T00:00:00.000' AS DateTime), 20, 1)
INSERT [dbo].[VOUCHER] ([MaVoucher], [TenVoucher], [PhanTramGiam], [SoTienGiam], [GiamToiDa], [DieuKienApDung], [NgayBatDau], [NgayKetThuc], [SoLuong], [TrangThai]) VALUES (N'FREESHIP', N'Giảm 30K phí vận chuyển', 0, CAST(30000.00 AS Decimal(18, 2)), NULL, CAST(300000.00 AS Decimal(18, 2)), CAST(N'2026-03-05T00:00:00.000' AS DateTime), CAST(N'2026-04-05T00:00:00.000' AS DateTime), 50, 1)
GO
ALTER TABLE [dbo].[DOI_TRA] ADD  DEFAULT (getdate()) FOR [NgayDoiTra]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[KHACH_HANG] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[KHACH_HANG] ADD  CONSTRAINT [DF_KHACH_HANG_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NHA_CUNG_CAP] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NHAN_VIEN] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[PHIEU_BAO_HANH] ADD  DEFAULT ((0)) FOR [ChiPhiPhatSinh]
GO
ALTER TABLE [dbo].[PHIEU_BAO_HANH] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[PHIEU_NHAP] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PHIEU_NHAP] ADD  DEFAULT ((0)) FOR [TongSoMatHang]
GO
ALTER TABLE [dbo].[PHIEU_NHAP] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[QUYEN] ADD  DEFAULT ((0)) FOR [QL_BanHang]
GO
ALTER TABLE [dbo].[QUYEN] ADD  DEFAULT ((0)) FOR [QL_KhachHang]
GO
ALTER TABLE [dbo].[QUYEN] ADD  DEFAULT ((0)) FOR [QL_SanPham]
GO
ALTER TABLE [dbo].[QUYEN] ADD  DEFAULT ((0)) FOR [QL_NhapHang]
GO
ALTER TABLE [dbo].[QUYEN] ADD  DEFAULT ((0)) FOR [QL_NhanVien]
GO
ALTER TABLE [dbo].[QUYEN] ADD  DEFAULT ((0)) FOR [QL_ThongKe]
GO
ALTER TABLE [dbo].[SAN_PHAM] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[SAN_PHAM] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[SAN_PHAM] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[VOUCHER] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOA_DON] ([MaHD])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP]  WITH CHECK ADD FOREIGN KEY([MaPN])
REFERENCES [dbo].[PHIEU_NHAP] ([MaPN])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[DOI_TRA]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOA_DON] ([MaHD])
GO
ALTER TABLE [dbo].[DOI_TRA]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DOI_TRA]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaVoucher])
REFERENCES [dbo].[VOUCHER] ([MaVoucher])
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[QUYEN] ([MaQuyen])
GO
ALTER TABLE [dbo].[PHIEU_BAO_HANH]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOA_DON] ([MaHD])
GO
ALTER TABLE [dbo].[PHIEU_BAO_HANH]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[PHIEU_BAO_HANH]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MaNCC])
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP]  WITH CHECK ADD CHECK  (([GiaNhap]>=(0)))
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
CREATE TABLE [dbo].[PHIEU_TRA_NCC](
	[MaPT] [nvarchar](50) NOT NULL,
	[MaPN] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NOT NULL,
	[MaNCC] [nvarchar](50) NOT NULL,
	[NgayTao] [date] NOT NULL,
	[TongSoMatHang] [int] NOT NULL DEFAULT ((0)),
	[TongTien] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[LyDo] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](30) NOT NULL DEFAULT (N'Đang duyệt'),
	[NgayXuLy] [date] NULL,
	[NguoiXuLy] [nvarchar](50) NULL,
	CONSTRAINT [PK_PHIEU_TRA_NCC] PRIMARY KEY CLUSTERED ([MaPT] ASC)
)
GO
CREATE TABLE [dbo].[CHI_TIET_TRA_NCC](
	[MaPT] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
	CONSTRAINT [PK_CHI_TIET_TRA_NCC] PRIMARY KEY CLUSTERED ([MaPT] ASC, [MaSP] ASC)
)
GO
ALTER TABLE [dbo].[PHIEU_TRA_NCC] WITH CHECK ADD FOREIGN KEY([MaPN]) REFERENCES [dbo].[PHIEU_NHAP] ([MaPN])
GO
ALTER TABLE [dbo].[PHIEU_TRA_NCC] WITH CHECK ADD FOREIGN KEY([MaNV]) REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEU_TRA_NCC] WITH CHECK ADD FOREIGN KEY([MaNCC]) REFERENCES [dbo].[NHA_CUNG_CAP] ([MaNCC])
GO
ALTER TABLE [dbo].[CHI_TIET_TRA_NCC] WITH CHECK ADD FOREIGN KEY([MaPT]) REFERENCES [dbo].[PHIEU_TRA_NCC] ([MaPT])
GO
ALTER TABLE [dbo].[CHI_TIET_TRA_NCC] WITH CHECK ADD FOREIGN KEY([MaSP]) REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHI_TIET_TRA_NCC] WITH CHECK ADD CHECK (([SoLuong] > (0)))
GO
USE [master]
GO